.pie__pagina--derechos{
    display: flex;
    align-items: center;
}

.pie__pagina--logo{
    width: 4rem;
    margin-right: 1rem;
}

.pie__pagina--descripcion{
    text-align: center;
    font-size: 1rem;
}

/* Diseño para tablets */
@media screen and (max-width: 1024px){
    .pie__pagina--descripcion{
        font-size: 1.1rem;
    }
}

/* Diseño para moviles */
@media screen and (max-width: 768px){
    .pie__pagina--logo{
        display: none;
    }
    .pie__pagina--descripcion{
        font-size: 1rem;
    }
}