:root{
    --color-azul: #0A3871;
    --color-blanco: #FFFFFF; 
}

.encabezado{
    background: #00AAE4;
    padding: 20px 0;
}

.encabezado__contenedor{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}