/* *{
    background: #00AAE4;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
} */

:root{
    --color-azul: #0A3871;
    --color-blanco: #FFFFFF; 
    --alkatra-regular: 'Alkatra'; 
}

.encabezado{
    background: #00AAE4;
    padding: 20px 0;
}

.encabezado__contenedor{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: var(--alkatra-regular);
}


/* Diseño para moviles */
@media screen and (max-width: 768px){
    .encabezado{
        padding: 10px 0;
    }
    .encabezado__contenedor{
    display: block;
    }   
}