.encabezado__contenedor--navegacion{
    margin-right: .75rem;
}

.encabezado__navegacion--lista{
    display: flex;
}

.navegacion__lista--items{
    margin-left: 1rem;
}

/* Diseño para moviles */
@media screen and (max-width: 768px){
    .encabezado__contenedor--navegacion{
        display: none;
    }
}