.contenido__botones{
    background: transparent;
    padding: 20px 0;
}

.contenido__botones--contenedor{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    font-family: var(--alkatra-regular);
}

/* Diseño para tablets */
@media screen and (max-width: 1024px){
    .contenido__botones{
        padding: 20px 0 10px 0;
    }
    .contenido__botones--contenedor{
        justify-content: center;
    }
}

/* Diseño para moviles */
@media screen and (max-width: 768px){
    .contenido__botones--contenedor{
        display: flex;
        flex-direction: column;
    }
}