.contenido__general{
    background: #00AAE4;
    padding: 10px 0 20px 0;
}

.contenido__general--contenedor{
    width: 90vw;
    margin: 0 auto;
}

.contenido__inputYoutput{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}