.contenido__general{
    background: #00AAE4;
    padding: 10px 0 20px 0;
}

.contenido__general--contenedor{
    width: 90vw;
    margin: 0 auto;
}

.contenido__inputYoutput{
    height: 450px;
    display: flex;
    justify-content: space-around;
}

/* Diseño para tablets */
@media screen and (max-width: 1024px){
    .contenido__inputYoutput{
        display: block;
        height: auto;
    }
}