.contenido__input{
    width: 50%; 
}

.text-area{
    background: transparent;
    border: none;
    color: var(--color-azul); /* Color de letras del textarea al escribir*/
    margin-top: 1rem;
    text-transform: lowercase;
    width: 95%;
    height: 87%;
    font-size: 1.8rem;
    font-family: var(--alkatra-regular);
}

::placeholder{color: var(--color-azul);} /* Color de letras del textarea al iniciar*/

.text-area{outline: none;} /* Quita los bordes a la hora de dar click dentro del textarea*/

.informacion__imagen{
    width: 1rem;
}

.informacion__imagen--descripcion{
    color: #495057;
    font-size: 1.2rem;
    font-family: var(--alkatra-regular);
}

/* Diseño para tablets */
@media screen and (max-width: 1024px){
    .contenido__input{
        width: 100%;
        height: 500px;
        margin-bottom: 1.5rem;
    }
    .text-area{
        padding: 0 1rem;
    }
    .informacion__input{
        margin-left: 1rem;
    }
    .informacion__imagen{
        width: 1.3rem;
    }
    .informacion__imagen--descripcion{
        font-size: 1.5rem;
    }
}