.contenido__output{
    background-color: var(--color-blanco);
    width: 40%;
    height: 600px;
}

.contenido__mensaje{
    background: var(--color-blanco);
    display: flex;
    justify-content: center;
}

.mensaje__desencriptado:focus{
    outline: none;
}

.mensaje__desencriptado{
    /* background: var(--color-blanco); */
    background-image: url("/contenido/imagenes/gato.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13rem;
    border: none;
    border-radius: 1rem;
    color: var(--color-azul);
    height: 500px;
    padding: .7rem;
}

.contenido__mensaje--informacion{
    text-align: center;
}

.mensaje1{
    font-size: 2rem;
}

.mensaje2{
    font-size: 1.2rem;
}