.contenido__mensaje{
    height: 100%;
    display: contents;
}

.contenido__general--output{
    width: 95%;
    height: 95%;
}

.contenido__output{
    background-color: var(--color-blanco);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
}

.mensaje__desencriptado:focus{
    outline: none;
}

.mensaje__desencriptado{
    border: none;
    display: none;
    border-radius: 1rem;
    color: var(--color-azul);
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-family: var(--alkatra-regular);
}

.imagen__mensaje{
    width: 12rem;
}

#contenido__mensaje--informacion{
    height: 100%;
    text-align: center;
    background: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--alkatra-regular);
}

.mensaje1{
    font-size: 2rem;
    color: #572364;
    margin: 15px 0 5px 0;
}

.mensaje2{
    font-size: 1.3rem;
}

/* Diseño para tablets */
@media screen and (max-width: 1024px){
    .contenido__output{
        width: 100%;
        height: 400px;
    }

    .imagen__mensaje{
        width: 10rem;
    }
    .mensaje1{
        font-size: 2.3rem;
    }
    .mensaje2{
        font-size: 1.6rem;
    }
}